.toDoList {
    font-family: "Lucida Handwriting", Cursive;
    font-size:70px;
    text-align: center;
    text-emphasis:inherit;

}

.list {
  align-items: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.date{
    align-items: right;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border: 10px;
    justify-content: space-around; 
}

.input {
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

.buttons {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    
}